@use '../colors' as *;
@use '../mixins' as *;
@use '../animations' as *;
@use '../components' as *;
///////
// Nav
///////

.nav {
	position: relative;
	&__topbar {
		background-color: var(--primary-color);
	}
	&__bottombar {
		background-color: var(--primary-color-2);
	}
	&__items {
		color: var(--secondary-color);
	}
	&__lang {
		position: relative;
	}
	&__mobile {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-150%, -50%);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--primary-color-2);
		color: var(--secondary-color);
		width: 100%;
		height: 100%;
		transition: transform 0.3s;
		z-index: 10;
	}
	.active {
		transform: translate(-50%, -50%);
	}
}
.flag-btn {
	display: block;
}
.flag-trigger,
.flag-img {
	padding: 10px;
	display: flex;
	height: 60px;
	width: auto;
	border-radius: 50%;
	cursor: pointer;
}

.lang-list {
	position: absolute;
	top: 68px;
	background-color: var(--primary-color);
	z-index: 9;
	overflow: hidden;
}
.lang-item {
	transition: background-color 0.3s;
	&:hover {
		background-color: var(--primary-color-2);
	}
}

.chevron-up {
	display: block;
	background-color: var(--secondary-color);
	mask: url(../../images/chevron-up.svg) center/cover;
	height: 50px;
	padding: 10px;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: background-color 0.3s;
	cursor: pointer;
}
.theme-icon {
	display: none;
	background-color: var(--secondary-color);
	height: 35px;
	width: 35px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.light-theme {
	mask: url(../../images/sun.svg) center/cover;
}
.dark-theme {
	mask: url(../../images/moon.svg) center/cover;
}
.current-theme {
	display: block;
}
.burger-btn {
	padding: 15px;
	mask: url(../../images/menu.svg) center/cover;
	background-color: var(--secondary-color);
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.nav-item {
	white-space: nowrap;
	transition: color 0.3s;
	&:hover {
		color: var(--accent-color);
	}
}

.burger-btn,
.theme-icon,
.chevron-up,
.close-nav-btn {
	&:hover {
		background-color: var(--accent-color-2);
	}
}
.close-nav-btn {
	position: absolute;
	top: 10%;
	left: 75%;
	transform: translate(-50%, -50%);
	background-color: var(--secondary-color);
	mask: url(../../images/x.svg) center/cover;
	height: 70px;
	width: 70px;
	transition: background-color 0.3s;
	cursor: pointer;
}

///////
// hero-img
///////
.header-hero-img {
	min-height: 400px;
	height: calc(100vh - 158px);
	width: 100%;
	@include hero-img-and-shadow('../../images/woman-small.jpg', rgba(0, 0, 0, 0.6));
	.title {
		font-family: 'The Girl Next Door', cursive;
		line-height: 2.7rem;
		padding: 30px;
		font-size: 2.5rem;
		color: white;
	}
	.logo {
		background-color: white;
		height: 40px;
		width: 40px;
	}
}
.chevron-down {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 100px;
	height: 70px;
	background-color: white;
	mask: url(../../images/chevron-down.svg) center/cover;
	cursor: pointer;
	transition: background-color 0.3s;
	animation: bouncing 3s infinite;
	&:hover {
		background-color: var(--accent-color);
	}
}

///////
// Section-about
///////

.about {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		&--1,
		&--2 {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 20px;
			.img {
				max-width: 400px;
				border-radius: 50%;
				box-shadow: 0 0 10px var(--secondary-color);
			}
		}
	}
}
.how-does-it-work {
	&__box {
		min-width: 250px;
		max-width: 350px;
		border-radius: 15px;
		box-shadow: 0 0 10px var(--secondary-color);
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.1);
		}
		.text-box {
			display: flex;
			align-items: center;
			height: 190px;
			text-align: center;
		}
		.text {
			padding: 1rem 2rem;
		}
		.img {
			display: block;
			height: 200px;
			border-radius: 5px;
		}
		a {
			text-decoration: underline;
		}
	}
}

///////
// Section-shops
///////

.shops {
	background-color: var(--primary-color);
	&__box {
		display: grid;
		flex-wrap: wrap;
		grid-template-columns: repeat(1, minmax(250px, 1fr));
		gap: 40px;
		justify-items: center;
		.shop-hide {
			opacity: 0;
			transform: translateY(-50px);
		}
		.visible {
			opacity: 1;
			transform: translateY(0);
		}

		.shop {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			height: 300px;
			width: 100%;
			border-radius: 8px;
			box-shadow: 0 0px 5px var(--accent-color-2);
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
		.img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	.half-visible {
		display: flex;
		position: relative;
		overflow: hidden;
		box-shadow: 0px -1px 2px var(--accent-color-2),
			-2px 2px 5px var(--primary-color);
		&:hover {
			transform: none;
		}
		&::after {
			z-index: 1;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				to bottom,
				transparent,
				var(--primary-color-90p),
				var(--primary-color)
			);
		}
	}
	.fade-shop {
		position: relative;
	}
	.chevron-down-shop {
		z-index: 10;
		background-color: var(--secondary-color);
	}
}
.newsletter {
	display: flex;
	align-items: center;
	min-height: 400px;
	@include hero-img-and-shadow(
		'../../images/iphone-mail-small.jpg',
		rgba(0, 0, 0, 0.6)
	);
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.title-h3 {
		color: #fff;
		padding-bottom: 1rem;
	}
	&__text {
		padding: 0 0 1.5rem 0;
		color: white;
		text-align: center;
		font-size: 0.8rem;
	}
	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	&__input {
		padding: 0.75rem;
		width: 100%;
		border: none;
		border-radius: 10px;
		font-size: 1rem;
		text-align: center;
	}
	.newsletter-btn {
		font-weight: bold;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		padding: 10px 25px;
		font-size: 1.25rem;
	}
}

///////
// Section-features
///////

.features {
	.slider {
		position: relative;
		width: 100%;
		max-width: 1000px;
		overflow: hidden;
		box-shadow: 0 0 10px var(--secondary-color);
		border-radius: 20px;
	}
	.slider-box {
		display: flex;
		transform: translateX(0);
		transition: 0.5s;
	}
	.slide {
		display: flex;
		min-width: 100%;
		height: 400px;
	}
	.slide-img {
		object-fit: cover;
		position: absolute;

		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.slide-title {
		padding: 1rem;
		width: 100%;
		height: fit-content;
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		font-size: 2rem;
		text-transform: uppercase;
		z-index: 1;
	}
	.slider__btn {
		top: calc(50% + 40px);
		position: absolute;
		transform: translateY(-50%);
		background-color: rgba(255, 255, 255, 0.2);
		padding: 1rem;
		font-size: 2rem;
		border: none;
		border-radius: 20px;
		cursor: pointer;
		transition: background-color 0.3s, transform 0.3s;
		&:focus,
		&:hover {
			outline: none;
			background-color: rgba(255, 255, 255, 0.5);
			transform: translateY(-50%) scale(0.7);
		}
	}

	.slider__btn--prev {
		left: 10px;
	}
	.slider__btn--next {
		right: 10px;
	}
}
.whats-next {
	background-color: var(--primary-color);
	.text {
		max-width: fit-content;
	}
	&__list {
		text-transform: uppercase;
		color: var(--secondary-color);
		text-align: center;
		font-size: 1.5rem;
		span {
			font-size: 1.75rem;
		}
	}
	.log-in-btn {
		text-align: center;
		width: 80%;
	}
	.cta-text {
		font-size: 1.25rem;
		color: var(--secondary-color);
	}
}

///////
// Section-contact
///////

.contact {
	&__form {
		width: 100%;
		label {
			display: block;
			padding: 0.5rem 1rem;
			color: var(--secondary-color);
			font-size: 1.25rem;
		}
		input,
		textarea {
			padding: 1rem;
			font-size: 1.25rem;
			border: none;
			border-radius: 20px;
			width: 100%;
		}
		textarea {
			padding: 1.5rem;
			height: 30vh;
			max-height: 85vh;
		}
	}
	&__form-box {
		width: 100%;
		padding: 0 1.25rem;
	}
	.contact-send-btn {
		padding: 1rem 5rem;
	}
}
///////
// Footer
///////

.footer {
	a {
		text-decoration: underline;
		text-underline-offset: 10px;
	}
	background-color: var(--footer-color);
	.logo {
		height: 20px;
		width: 20px;
	}
	&__social-media {
		.facebook,
		.instagram,
		.twitter,
		.youtube {
			display: inline-block;
			background-color: var(--secondary-color);
			height: 40px;
			width: 40px;
			mask: url(../../images/facebook.svg) center/cover;
			z-index: 22;
			transition: background-color 0.3s, transform 0.3s;
			&:hover {
				background-color: var(--accent-color-2);
				transform: scale(1.1);
			}
		}
		.instagram {
			mask: url(../../images/instagram.svg) center/cover;
		}
		.twitter {
			mask: url(../../images/twitter.svg) center/cover;
		}
		.youtube {
			mask: url(../../images/youtube.svg) center/cover;
		}
	}
}

.newsletter-success-info,
.contact-success-info {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: var(--primary-color-50p);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0, 3s;
	.info-box {
		min-width: 200px;
		width: 80%;
		max-width: 500px;
		height: fit-content;
		border-radius: 30px;
		box-shadow: 0 2px 10px var(--accent-color);
		background-color: var(--primary-color);
	}
}