@use './colors' as *;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	height: 100%;
	background-color: var(--primary-color-2);
}
:root {
	--scrollbar-width: 0px;
}

.burger-btn {
	mask: url(../../images/menu.svg) center/cover;
	background-color: var(--secondary-color);
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.logo {
	display: inline-block;
	background-color: var(--secondary-color);
	height: 40px;
	width: 40px;
	mask: url(../../images/receipt.svg) center/cover;
	z-index: 22;
}
.title-h2 {
	margin-bottom: 2rem;
	color: var(--secondary-color-2);
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-size: 2.5rem;
	font-weight: lighter;
}
.title-h3 {
	padding: 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: var(--secondary-color);
}
.section-title {
	position: relative;
	font-size: 2rem;
	padding: 1rem 0.5rem;
	width: 100%;
	text-transform: uppercase;
	color: var(--secondary-color);
	text-align: center;
	z-index: 5;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: var(--primary-color-90p);
		z-index: -1;
	}
}
.text {
	padding: 0 0 2rem 0;
	max-width: 40ch;
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--secondary-color);
}
.img {
	width: 100%;
}
hr {
	margin: 40px 0;
	height: 1px;
	border: none;
	background-color: var(--secondary-color-2);
}
.btn {
	padding: 1rem 2rem;
	background-color: var(--accent-color);
	font-size: 1.5rem;
	color: var(--primary-color);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: var(--accent-color-2);
	}
}
.error-msg {
	width: 100%;
	min-height: 30px;
	height: fit-content;
	font-size: 1.25rem;
	color: red;
}
.ui-icon {
	display: none;
	background-color: var(--secondary-color);
	height: 40px;
	width: 40px;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: var(--accent-color-2);
	}
}
.arrow-left {
	display: block;
	mask: url(../../images/arrow-left-circle.svg) center/cover;
}
.save {
	display: block;
	mask: url(../../images/save.svg) center/cover;
}

.light-theme {
	mask: url(../../images/sun.svg) center/cover;
}
.dark-theme {
	mask: url(../../images/moon.svg) center/cover;
}
.current-theme {
	display: block;
}
.help-mark {
	display: inline-block;
	background-color: var(--secondary-color);
	height: 25px;
	width: 25px;
	mask: url(../../images/help-circle.svg) center/cover;
	cursor: pointer;
	transition: background-color 0.3s;
}
input {
	color: #222831;
}

.popup-info {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: var(--primary-color-50p);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0, 3s;
	.info-box {
		min-width: 200px;
		width: 80%;
		max-width: 500px;
		height: fit-content;
		border-radius: 30px;
		box-shadow: 0 2px 10px var(--accent-color);
		background-color: var(--primary-color);
	}
}
.topbar.lock-scroll,
.section.lock-scroll {
	padding-right: var(--scrollbar-width);
}
.section-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.delete-btn {
	position: absolute;
	top: -10px;
	right: 5px;
	display: block;
	mask: url(../../images/trash.svg) center/cover;
	background-color: #a1887f;
	transition: background-color 0.3s;
	z-index: 12;
	&:hover {
		background-color: red;
	}
}
.empty{
	padding: 2rem;
	margin-top: 2rem;
	background-color: var(--primary-color-90p);
	border: 1px solid var(--accent-color);
	font-size: 2rem;
	color: var(--secondary-color);
	border-radius: 20px;
}