@use './colors' as *;
@use './mixins' as *;
@use './animations' as *;

@media (min-width: 640px) {
	.header-hero-img {
		.title {
			padding: 0;
			margin-top: 10%;
			font-size: 4rem;
			line-height: 3.5rem;
		}
	}
}
@media (min-width: 768px) {
	.nav-item {
		transition: color 0.3s, background-color 0.3s;
		&:hover {
			color: var(--primary-color);
			background-color: var(--secondary-color);
		}
	}
	.header-hero-img {
		height: calc(100vh - 156px);
		@include hero-img-and-shadow('../images/woman.jpg', rgba(0, 0, 0, 0.6));
		.title {
			margin-right: 10%;
		}
		.logo {
			height: 60px;
			width: 60px;
		}
	}
	.shops {
		&__box {
			grid-template-columns: repeat(2, minmax(250px, 1fr));
		}
	}
	.newsletter {
		min-height: 600px;

		@include hero-img-and-shadow(
			'../images/iphone-mail.jpg',
			rgba(0, 0, 0, 0.6)
		);
		.title-h3 {
			font-size: 2.5rem;
		}
		&__text {
			font-size: 1.25rem;
			margin-bottom: 3.5rem;
		}
		&__input {
			padding: 1rem;
			font-size: 1.25rem;
			margin-bottom: 1.25rem;
		}
		.newsletter-btn {
			padding: 1rem 3rem;
			font-size: 1.5rem;
		}
		.error-msg {
			
			font-size: 1.5rem;
		}
	}
	.features {
		.slide {
			height: 500px;
		}
	}
}
@media (min-width: 1024px) {
	.nav {
		background-color: var(--primary-color);

		&__bottombar {
			background-color: var(--primary-color);
		}
	}
	.header-hero-img {
		@include hero-img-and-shadow('../images/woman-big.jpg', rgba(0, 0, 0, 0.6));
		height: calc(100vh - 112px);
		.logo {
			height: 80px;
			width: 80px;
		}
		.title {
			user-select: none;
			font-size: 6rem;
			line-height: 6rem;
		}
	}
	.about {
		&__box {
			&--1,
			&--2 {
				margin-bottom: 50px;
				gap: 100px;
				flex-direction: row;
				align-items: center;
				.img {
					width: 50%;
					max-width: 500px;
				}
			}
			&--2 {
				.text {
					order: 1;
				}
				.img {
					order: 2;
				}
			}
		}
	}
	.shops {
		&__box {
			grid-template-columns: repeat(3, minmax(250px, 1fr));
		}
	}
	.whats-next {
		.log-in-btn {
			width: 60%;
		}
	}
	.contact {
		&__form-box {
			&:nth-child(1),
			&:nth-child(2) {
				width: 50%;
				max-width: 600px;
			}
			&:nth-child(3),
			&:nth-child(4) {
				width: 100%;
				max-width: 1200px;
			}
		}
	}
}
@media (min-width: 1280px) {
	.newsletter {
		min-height: 700px;
		@include hero-img-and-shadow(
			'../images/iphone-mail-big.jpg',
			rgba(0, 0, 0, 0.6)
		);
	}
	.features {
		.slide {
			height: 600px;
		}
	}
}
